.root {
  --box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  --primary-font-family: "Roboto", sans-serif;
  --button-font-family: "Montserrat", sans-serif;
}
body {
  color: white;
  background-color: #1b1b1b;
}
.navbar {
  background-color: #1b1b1b;
  color: white;
}
.navbar a {
  color: white;
}
.navbar-brand,
.navbar-nav {
  margin: 0px 30px;
}
.navbar-brand {
  font-weight: bold;
}
.welcome {
  text-align: center;
  padding: 170px;
  background-image: url(images/imgtop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin-bottom: 30px;
}
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 72px;
  letter-spacing: 6px;
}
.h1-about {
  font-family: var(--primary-font-family);
  font-weight: bold;
  font-size: 64px;
}
h3 {
  font-size: 24px;
  font-weight: bold;
}
h5 {
  font-family: var(--primary-font-family);
  font-weight: bold;
  font-size: 18px;
  color: #40a9b3;
}
p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
.more {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #1b1b1b;
  background-color: white;
  font-size: 18px;
  font-weight: bold;
  border: solid 1px white;
  padding: 18px 30px;
  border-radius: 50px;
  box-shadow: var(--box-shadow);
}
.more:hover {
  transition: all 200ms linear/ease-in-out;
  border: solid 3px black;
  color: #1b1b1b;
}
.col-md-4 {
  display: flex;
  justify-content: center;
}
.pictures {
  margin: 0px 60px;
}
.pictures a:hover {
  transform: scale(2);
  pointer-events: none;
}
.container-gallery a:hover {
  transform: scale(1.5);
  pointer-events: none;
}
footer {
  background-color: #282323;
}

i {
  margin: 13px;
}
.about-pic {
  width: 450px;
}
.contact-button {
  border: solid 1px black;
  background-color: white;
  padding: 18px 30px;
  border-radius: 50px;
  font-family: var(--button-font-family);
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: var(--box-shadow);
}
.contact-button:hover {
  transition: all 200ms linear/ease-in-out;
  border: solid 1px #40a9b3;
  color: #40a9b3;
}
.contact a {
  color: white;
}
.contact a:hover {
  color: rgb(220, 220, 220);
}

.icon {
  margin-left: 10px;
}
.icon a {
  color: white;
  font-size: 15px;
}
.icon a:hover {
  transition: all 200ms linear/ease-in-out;
  color: #40a9b3;
}
.coded-by {
  font-size: 10px;
  float: right;
  margin-right: 15px;
}
.fa-github {
  font-size: 15px;
  color: white;
}
.fa-github:hover {
  transition: all 200ms linear/ease-in-out;
  color: #40a9b3;
}
@media (max-width: 700px) {
  h1 {
    font-size: 40px;
  }
  .welcome {
    text-align: center;
    padding: 70px 0px;
  }
  .col-md-4 {
    text-align: center;
  }
  .about-pic {
    width: 250px;
    display: block;
    margin: 0 auto;
  }
  .contact-button {
    display: block;
    text-align: center;
  }
  .pictures a:hover {
    transform: none;
  }
  .container-gallery a:hover {
    transform: none;
  }
}
